!*.cpp
!*.java
*.cbp
*.layout
*.exe
*.o
/bin/
*.class
*/.settings/
*.iml
*.xml
.idea/
*.sln
*.ncb
*.vcproj
*.user
*.exe
*.ilk
*.pdb
*.suo
*.htm
*.manifest
*.obj
*.dep
*.idb
*.pdb